<!-- Navbar ================================================== -->
                        <div class="bs-component">
                            <div class="navbar navbar-danger">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="https://mattronix.nl">Matthew Frost's blog</a>
                                </div>
                                <div class="navbar-collapse collapse navbar-warning-collapse">
                      <ul class="nav navbar-nav justified">
                {% macro display_menu_item(item, loop) %}
                  {% from _self import display_menu_item %}
                    <li class='{% if item|current %}active{% endif %}'>
                    <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}'>
                    {% if item.label is defined %}{{item.label}}{% else %} - {% endif %} </a></li>
                {% endmacro %}
                {% from _self import display_menu_item %}
                  {% for item in menu %}
                  {% if item.label is defined %}
                    {{ display_menu_item(item, loop) }}
                  {% endif %}
                {% endfor %}
              </ul>
		{% include 'partials/_sub_searchbox.twig' %}
                                </div>
                            </div>
                        </div>
<!-- Navbar ================================================== -->


