{% include 'partials/_header.twig' %}


    <body>
        <div class="container well" style="padding-top:00px">
            <div class="row-fluid" style="padding-top: 10px">
                <div align="center" class="col-md-2 col-xs-4">
                    <img src="{{ thumbnail(page.image, 200,200) }}" class="img-responsive img-circle" alt="...">

		   {% for image in page.imagelist %}
		   
                   <div>	
		    <img src="{{ app.paths.files }}{{ image.filename }}" class="img-responsive" alt="..." width="220" height="190">
		   </div>	

                   {% endfor %}

                </div>
                <div class="col-md-10 col-xs-0" >

		
		{{ page.body }}
		

		</div>
	      </div>
	    </div>


    </body>
{% include 'partials/_footer.twig' %}

