{% include '_header.twig' %}

        <div class="well container" style="">
        <h1>My GPG public key.</h1>
        <p>Key fingerprint = B73E 0613 D454 AC02 1C9D  88C0 6922 C2CB 2DE1 049A

	</div>

        <div class="container well infobox" style="padding-top:80px">
            <div class="row-fluid">
                <div class="col-md-15">
		
		<div class="form-group"> 
		{{ boltforms('contact') }}
		</div>
		
		{{ page.body }}
		

		</div>
	    </div>
	  </div>
    






{% include '_footer.twig' %}

