{% include 'partials/_header.twig' %}

        <div class="well container" style="">
        <h2>My GPG public key.</h2>
	Email = contact@mattronix.nl
        <p>Key fingerprint = B73E 0613 D454 AC02 1C9D  88C0 6922 C2CB 2DE1 049A


        <h2>Other contact methods</h2>
        <p>
	<br> Jabber = matthew@mattronix.nl	
	</p> 
 

	</div>

    






{% include 'partials/_footer.twig' %}

