{% include '_header.twig' %}

        <div class="well container" style="">
        <h1>My GPG public key.</h1>
        <p>Key fingerprint = 4B40 7AE9 F989 204F 4F96  92C4 3C82 E5A8 D2E8 DE01

	</div>

        <div class="container well infobox" style="padding-top:80px">
            <div class="row-fluid">
                <div class="col-md-15">
		
		<div class="form-group"> 
		{{ boltforms('contact') }}
		</div>
		
		{{ page.body }}
		

		</div>
	    </div>
	  </div>
    






{% include '_footer.twig' %}

