 {% include '_header.twig' %}


    <div class="container" align="center">

        <!-- Page Header -->
        <div class="row">
             <h1 class="page-header"> Downloads
                    <small> Cool Stuff. </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- contactinfo --> 
    <div align="center"> 

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Download List: </div>

  <!-- Table -->
  <table class="table">
    <tr>
    {% setcontent downloads = 'downloads'  %}
    {% for download in downloads %}
     <td>
       <b>{{ download.title  }} </b>  <a href="{{ download.downloadlink  }}">Download</a> 
     </td>
    {% endfor  %}
   </tr>


  </table>
 
</div>


   <!-- Page Header -->
        <!-- /.row -->

 {% include '_footer.twig' %}









