 {% include '_header.twig' %}


    <div class="container" align="center">

        <!-- Page Header -->
        <div class="row">
            </div>
        </div>
        <!-- /.row -->
        
        <!-- contactinfo --> 
    <div align="center"> 

<div class="container">
<div class="well well-sm">


  <!-- Default panel contents -->
  <div class="panel-heading">Download List: </div>

</div>

  <!-- Table -->
  <table class="table">
    {% setcontent downloads = 'downloads'  %}
    {% for download in downloads %}
<div class="well">


       <b>{{ download.title  }} </b>  <a href="{{ download.downloadlink  }}">Download</a> 
</div>
    {% endfor  %}


  </table>
 

</div>

   <!-- Page Header -->
        <!-- /.row -->

 {% include '_footer.twig' %}









