 {% include '_header.twig' %}
{% setcontent blocks = 'blocks' orderby 'ordernum' %}
<div class="container">
<div class="well">
<div> 
       <img src="{{ thumbnail(page.image, 200,200) }}" class="img-responsive img-circle" alt="...">
       	<h3> {{ page.caption }} </h3>
      </div>
      {{ record.body }} 
    </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-0"> 
      <div class="col-md-12 well">
	<h5> Latest blog posts: </h5>
	<hr>
        {% include '_sub_blog_list.twig' %}
      </div>
    </div>
    <div class="col-md-6"> 
      <div class="col-md-12 well">
	<h5> Latest Projects: </h5>
	<hr>
        {% include '_sub_projects_list.twig' %}
      </div>
    </div>
</div>
</div>

 
{% include '_footer.twig' %}
