 {% include '_header.twig' %}
{% setcontent blocks = 'blocks' orderby 'ordernum' %}


<div class="row">

  <div class="col-md-2 col-md-offset-1">
     <div class="col-md-12 well">
	<!--Sidebar Content -->

     </div>
     <div class="col-md-12 panel-danger panel">
	<h3> Blog Posts: </h3>
	<hr>

     </div>
  </div>

  <div class="col-md-8">
    <!--Homepage Content -->
      <div class="col-md-12 well">
	<div align="middle">
	<h1> Content Coming Soon </h1> 
	</div>
      </div>
  </div>

</div>


{% include '_footer.twig' %}
