 {% include '_header.twig' %}
{% setcontent blocks = 'blocks' orderby 'ordernum' %}


        <div class="container"style="padding-top:0px">
        <div class="jumbotron">
          <h1>{{ theme.welcome  }} </h1>
           <p>{{ theme.slogan }} <p> 
        </div>
      





{% for block in blocks %}


{% endfor %}




{% include '_footer.twig' %}
