
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: RED;
    border-color: Red;
}


.blog-post-mattronix h4 {
display: block;
}

.blog-post-mattronix a {
display: block;
}

.blog-post-mattronix {

clear: both;
}

.blog-post-mattronix img {
float: left;
padding-right: 10px;
}

.submitter-mattronix {

padding-left: 0px !important;
padding-right: 0px !important;

}

.form-item-mattronix{

margin-top: 10px;

}

a, a:hover, a:focus {
    color: #FF5722;
}


accent { 
color: blue !important;
}
