
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: RED;
    border-color: Red;
}


.blog-post-mattronix h4 {
display: block;
margin-bottom: 0px;
}

.taxonomy-list-mattronix{
display: block;
clear: both;
}

.blog-post-mattronix a {
display: block;
}

.blog-post-mattronix {

clear: both;
}

.blog-post-mattronix img {
float: left;
padding-right: 10px;
}

.submitter-mattronix {

padding-left: 0px !important;
padding-right: 0px !important;

}

.form-item-mattronix{

margin-top: 10px;

}

a, a:hover, a:focus {
    color: #FF5722;
}

/*
.profile {
    background-color: #f55549 !important;
}

.profile h3 !important {
    color: #448AFF;
}*/


.form-control {
    border: 0;
    background-image: linear-gradient(#FF5722,#FF5722),linear-gradient(#d2d2d2,#d2d2d2) !important;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
}
